.company-intro {
    padding: 3rem 2rem 2rem;

    &__container {
        @include container;
        max-width: 1300px;
    }

    &__icon-logo {
        display: none;
    }

    &__header {
        position: relative;
        margin-bottom: 1rem;
    }

    &__heading {
        position: relative;
        z-index: 1;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        @include primary-font-extra-bold;
    }

    &__body {
        h2 {
            color: $teal-light;
            opacity: .2;
            margin-bottom: 2rem;
        }

        p:first-child {
			@include primary-font-extra-bold;
		}
    }

    @include bp600 {
        background: $blanc;
        padding: 4rem 2rem;
    }

    @include bp800 {
        padding: 5rem 2rem;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            text-align: center;
        }

        &__heading {
            position: relative;
            z-index: 2;
            font-size: 3.25rem;

            p {
                margin: auto;
            }
        }

        &__body {
            width: 60%;
            font-size: 1.7rem;
            line-height: 1.8;

            p:first-child {
                font-size: 2rem;
            }
        }

        &__icon-logo {
            display: block;
            max-width: 100px;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%) translateY(-50%);
            opacity: .05;
        }
    }

    @include bp1200 {
        padding: 10rem 2rem;

        &__heading {
            font-size: 4.5rem;
        }

        &__body p:first-child {
            @include primary-font-extra-bold;
            font-size: 3rem;
            line-height: 1.6;
        }
    }

    @include bp1600 {
        padding: 14rem 2rem;

        &__header {
            width: 40%;
        }

        &__heading {
            font-size: 6.5rem;
        }

        &__body {
            width: 50%;
        }
    }
}
