.company-intro {
    background: $beige;
    padding: 3rem 2rem 2rem;

    &__container {
        @include container;
    }

    &__icon-logo {
        display: none;
    }

    &__heading {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        @include primary-font-extra-bold;
    }

    &__body {
        p {
            margin-bottom: 2rem;

            &:first-child {
                @include primary-font-bold;
            }
        }
    }

    @include bp600 {
        background: $blanc;
        padding: 4rem 2rem;
    }

    @include bp800 {
        padding: 5rem 2rem;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__heading {
            position: relative;
            display: flex;
            width: 35%;
            text-align: center;
            font-size: 3.25rem;

            p {
                margin: auto;
            }
        }

        &__body {
            width: 60%;
            font-size: 1.7rem;
            line-height: 1.8;
        }

        &__icon-logo {
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: 50px;
            opacity: .05;
        }
    }

    @include bp1200 {
        padding: 10rem 2rem;

        &__heading {
            font-size: 4.5rem;
        }

        &__body p:first-child {
            font-size: 2rem;
        }
    }

    @include bp1600 {
        padding: 14rem 2rem;
    }
}
