.company-intro {
    background: $beige;
    padding: 2rem;

    &__container {
        @include container;
    }

    &__heading {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        @include primary-font-extra-bold;
    }

    &__body {

    }

    @include bp600 {
        background: $blanc;
    }
}
