.hero {
    position: relative;
    @include darkGradient();
    color: $beige;

    &__container {
        @include container;
        padding: 4rem 1rem;
    }

    &__headline {
        @include primary-font-bold;
    }

    &__subline {

    }
}

@include bp800 {
    .hero {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: $beige;
        color: $blue-dark;

        &__section {
            position: relative;
            width: 40%;
            min-height: 90vh;
            background: $beige;
            color: $blue-dark;
            overflow: hidden;
        }

        &__headline,
        &__subline,
        &__button {
            position: absolute;
            width: 700px;
        }

        &__headline {
            top: 45%;
            left: 20%;
            transform: translateY(-50%);
            font-size: 6rem;
            line-height: 1.2;
            z-index: 3;

            &::selection {
                background: $teal;
                color: $beige;
            }
        }

        &__subline {
            top: 60%;
            left: 20%;
            font-size: 3rem;

            &::selection {
                background: $teal;
                color: $beige;
            }
        }

        &__section--mask {
            width: 60%;
            box-shadow: inset 0px 20px 17px -13px darken($blue-dark, 5%);
            color: $beige;
            background-blend-mode: multiply;
            background-color: $teal;
            background-size: cover;
            background-position: center;

            .hero__headline {
                left: -53.5%;

                &::selection {
                    background: $teal;
                    color: $beige;
                }
            }

            .hero__subline {
                left: -53.2%;

                &::selection {
                    background: $teal;
                    color: $beige;
                }
            }
        }
    }
}

@include bp1200 {
    .hero {
        &__headline,
        &__subline {
            width: 800px;
        }

        &__headline {
            width: 1200px;
            font-size: 8rem;
        }
    }
}
