.project__container {
    margin: 4rem auto;
    max-width: 2000px;

    @include bp1000 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.project-intro {
    padding: 2rem;

    &__heading {
        color: $teal-dark;
        font-size: 2.5rem;
        @include primary-font-extra-bold;
        opacity: .2;
    }

    &__subheading {
        font-size: 2.5rem;
        @include primary-font-extra-bold;
        margin-bottom: 2rem;
    }

    .btn {
        margin: 2rem 0;
        padding: 1.5rem;
    }

    @include bp1000 {
        width: 49%;
        padding: 4rem;

        &__subheading {
            font-size: 3.5rem;
            line-height: 1.2;
        }
    }

    @include bp1200 {
        padding: 6rem;
    }

    @include bp1600 {
        padding: 12rem;

        &__heading {
            font-size: 3.5rem;
        }

        &__subheading {
            font-size: 5rem;
        }
    }
}

.project-image {
    display: block;
    min-height: 300px;
    margin-bottom: 2rem;
    background-color: $beige;
    background-size: cover;
    background-blend-mode: multiply;
    text-decoration: none;
    transition: .5s;

    @include bp1000 {
        width: 49%;
        min-height: 60vh;
    }

    @include bp1600 {
        min-height: 80vh;
    }
}
