.services {
    background: $blanc;
    padding: 3rem 2rem;
    text-align: center;
    background-color: $blue-dark;
    background-size: cover;
    background-blend-mode: multiply;
    color: $beige;

    &__container {
        @include container;
    }

    &__heading {
        font-size: 2.8rem;
        @include primary-font-extra-bold;
    }

    &__description {
        margin-bottom: 2rem;
    }

    @media (min-width: 600px) {
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @include bp1200 {
        padding: 5rem 2rem;

        &__heading {
            font-size: 3rem;
        }

        &__description {
            font-size: 2rem;
            margin-bottom: 5rem;
        }
    }

    @include bp1600 {
        padding: 5rem 0;
    }
}

.services-single {
    position: relative;
    display: block;
    padding: 2rem 0;
    margin-bottom: 4rem;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($blanc, .5);
    }

    svg {
        display: none;
        width: 50px;
        height: 50px;
    }

    &__heading {
        position: relative;
        z-index: 2;
        margin-bottom: 1rem;
        @include primary-font-extra-bold;
        font-size: 1.8rem;
        background: $beige;
        color: $blue-dark;
        padding: 1.5rem 1rem 1rem;
        margin: auto;
    }

    &__text {
        font-size: 1.4rem;
        position: absolute;
        bottom: -100%;
    }

    &:hover & {
        &__text {
            bottom: 0;
        }
    }

    @media (min-width: 600px) {
        width: 48%;
        min-height: 300px;
    }

    @include bp1200 {
        padding: 3rem;
        margin: 1.5% 0;
        min-height: 400px;

        svg {
            width: 75px;
            height: 75px;
        }

        &__heading {
            font-size: 2.4rem;
        }

        &__text {
            font-size: 1.8rem;
        }
    }
}
