.services {
    background: $blanc;
    @include container;
    padding: 3rem;
    text-align: center;

    &__heading {
        font-size: 2.8rem;
        @include primary-font-extra-bold;
        color: $blue-dark;
    }

    &__description {
        margin-bottom: 2rem;
    }

    @media (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__heading,
        &__description {
            width: 100%;
        }
    }
}

.services-single {
    display: block;
    padding: 2rem 0;
    text-decoration: none;
    color: $blue-dark;

    svg {
        width: 50px;
        height: 50px;
        color: $teal;
    }

    &__heading {
        margin-bottom: 1rem;
        @include primary-font-extra-bold;
        font-size: 1.8rem;
        color: $teal;
    }

    &__text {
        font-size: 1.4rem;
    }

    @media (min-width: 600px) {
        width: 48%;
    }
}
