button {
    border: none;
}

.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.2;
    @include primary-font-extra-bold;

    &--outline-beige {
        color: $beige;
        border: 2px solid $beige;

        &:hover {

        }
    }

    &--outline-teal {
        color: $teal-light;
        border: 2px solid $teal-light;

        &:hover {

        }
    }

    &--solid-teal {
        background: $teal-light;
        color: $beige;

        &:hover {

        }
    }
}
