.hamburger-menu {
    color: $teal-light;
}

.navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba($blue-dark, .98);
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    transition: .2s;

    &__list-item {
        position: relative;
    }

    &__item {
        position: relative;
        display: block;
        color: $beige;
        text-decoration: none;
        padding: .75rem .5rem;

        &:hover + .navigation__sub {
            display: flex;
        }

        &[aria-current] {
            color: $teal-light;
        }

        span,
        svg {
            display: none;
        }
    }

    &__icon-logo {
        display: block;
        width: 30px;
        margin-bottom: 1rem;
    }

    &__icon-close {
        display: inline-block;
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        color: $teal-light;
        padding: .5rem 1rem;
        line-height: 1;
        background: lighten($blue-dark, 5%);
        text-decoration: none;
    }

    &.is-active {
        display: flex;
        right: 0;
    }
}

.navigation__sub {
    list-style: none;

    .navigation__item {
        font-size: 1.4rem;
        padding-left: 1.75rem;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 6px;
            width: 1px;
            height: 100%;
            background: rgba($beige, .5);
        }
    }
}

@include bp800 {
    .navigation-hold {
        width: 75%;
    }

    .navigation {
        position: relative;
        right: auto;
        top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        background: none;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            list-style: none;
        }

        &__list-item {
            display: flex;
        }

        &__item {
            color: $blue-dark;
            padding: 3.5rem .5rem;
            @include primary-font-bold;
            font-size: 1.6rem;
            transition: .2s;

            &[aria-current] {
                color: $teal-light;
            }

            span {
                display: block;
            }

            &:hover {
                color: rgba($teal-light, .75);

                span {
                    color: $blue-dark;
                }
            }

            //modifiers
            &--contact {
                align-self: center;
                padding: 1rem;
                border: 2px solid $teal-light;
                color: $teal-light;

                &:hover {
                    color: $beige;
                    background: $teal-light;
                }
            }
        }

        &__item-has-child {
            svg {
                display: block;
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 20px;
                color: rgba($blue-dark, .5);
            }
        }

        &__sub {
            position: absolute;
            top: 90px;
            left: 50%;
            padding: 2rem;
            width: 700px;
            transform: translateX(-50%);
            border: 0;
            background: $blanc;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 0 0 20px rgba(#333, .25);
            display: none;

            &:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 50%;
                width: 20px;
                height: 20px;
                transform: translateX(-50%) rotate(45deg);
                background: $blanc;
            }

            &:hover {
                display: flex;
            }

            li {
                width: 49%;
            }

            .navigation__item {
                font-size: 1.6rem;
                padding-left: 0;
                padding: 2rem 1rem;

                span {
                    display: block;
                    font-size: 1.2rem;
                    text-transform: none;
                    @include primary-font-regular;
                }
            }
        }

        &__icon-logo,
        &__icon-close {
            display: none;
        }
    }

    .hamburger-menu {
        display: none;
    }
}

@include bp1200 {
    .navigation-hold {
        width: 50%;
    }
}
