/* Media Queries
--------------------------------------------------------------- */

@mixin bp480 {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin bp600 {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin bp800 {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin bp1000 {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin bp1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin bp1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin bp1600 {
  @media (min-width: 1600px) {
    @content;
  }
}

/* Layout Mixins
--------------------------------------------------------------- */

@mixin container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

@mixin darkGradient {
    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e1d35+0,233147+100 */
    background: rgb(14,29,53); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,29,53,1) 0%, rgba(35,49,71,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,29,53,1) 0%,rgba(35,49,71,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,29,53,1) 0%,rgba(35,49,71,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1d35', endColorstr='#233147',GradientType=1 ); /* IE6-9 */
}

@mixin beigeToWhiteGradient {
    background: rgb(255,250,240); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,250,240,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,250,240,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,250,240,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffaf0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
