/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #26292f;

$blue-dark          : #0e1d35;
$blue-light         : #233147;

$beige              : #fffaf0;

$teal               : #19b5b8;

/* Fonts
--------------------------------------------------------------- */

$primaryFont   		: "Manrope Regular", sans-serif;
$secondaryFont   	: sans-serif;
