/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #26292f;

$beige              : #fffaf0;

$blue-dark          : #0e1d35;
$blue-light         : #233147;

$teal-light         : #19b5b8;
$teal-dark          : #047e80;

//accents
$yellow             : #f6bd60;
$red                : #da2c38;

/* Fonts
--------------------------------------------------------------- */

$primaryFont   		: "Manrope Regular", sans-serif;
$secondaryFont   	: serif;
