/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #26292f;
$hotPink 			: #eb5154;
$silver				: #97989a;

/* Fonts
--------------------------------------------------------------- */

$primaryFont   		: serif;
$secondaryFont   	: sans-serif;
