/*---------------------------------------------------------------
    Core
--------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #fff;
    color: $blue-light;
    font: 16px/1.5 "Manrope Regular", sans-serif;
	min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

svg {
	height: 32px;
	width: 32px;
}
