/* Italic */
@font-face {
    font-family: 'Manrope Regular';
    src: url('../fonts/manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope Medium';
    src: url('../fonts/manrope-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/manrope-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope Extra Bold';
    src: url('../fonts/manrope-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@mixin primary-font-regular {
    font-family: 'Manrope Regular', sans-serif;
    font-weight: normal;
}

@mixin primary-font-medium {
    font-family: 'Manrope Medium', sans-serif;
    font-weight: normal;
}

@mixin primary-font-bold {
    font-family: 'Manrope Bold', sans-serif;
    font-weight: normal;
}

@mixin primary-font-extra-bold {
    font-family: 'Manrope Extra Bold', sans-serif;
    font-weight: normal;
}

h1 {
    @include primary-font-bold;
    font-size: 16px;
    font-size: 16px;
}


strong {
    @include primary-font-bold;
}
