/* Italic */
@font-face {
    font-family: 'Manrope Regular';
    src: url('../fonts/manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope Medium';
    src: url('../fonts/manrope-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/manrope-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope Extra Bold';
    src: url('../fonts/manrope-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1 {
    @include primary-font-bold;
    font-size: 16px;
    font-size: 16px;
}


strong {
    @include primary-font-bold;
}
